h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px;
    font-size: 16px;
}

p {
    font-family: 'Roboto Slab', serif;
    margin: 5px 5px;
    font-size: 12px
}

.first, .third, .fifth {
    position: relative;
    margin: 10px 200px;
    width: 250px;
    padding: 5px;
    text-align: right;
}

.first:after, .third:after, .second:after, .fourth:after {
    content: '';
    position: absolute;
    right: -120px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: solid 5px rgb(185, 185, 185);
    background-image: url("2/1.jpg");
    background-size:cover;
    border-radius: 50%;
}


.second, .fourth {
    position: relative;
    margin: 10px 590px;
    width: 250px;
    padding: 5px;
    text-align: left;
}

.second:after, .fourth:after {
    left: -120px;
    background-image: url("2/2.jpg");
}

.third:after {
    background-image: url("2/3.jpg");
}

.fourth:after {
  
    background-image: url("2/4.jpg");
}

.fifth:after {
    content: '';
    position: absolute;
    color: white;
    right: -120px;
    top: 0px;
    width: 100px;
    height: 100px;
    background-color: orange;
    border: solid 5px rgb(185, 185, 185);
    background-size:cover;
    border-radius: 50%;
}

@media (max-width: 600px) {
    .first, .third, .fifth {
        text-align: left;
    }

    .second, .fourth {
        margin: 10px 200px;
    }
    
    .first:after, .third:after, .fifth:after {
        left: -150px;
    }